---
// src/components/affiliation/ViteUnDevisWidget.astro
import LeadForm from './LeadForm.astro';
---

<div class="widget-wrapper">
  <LeadForm catId="62" />
</div>

<style>
  .widget-wrapper {
    margin: 2rem 0;
    width: 100%;
  }
</style>
